<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @dealer.title %>
</p>

<p>
  <strong>First name:</strong>
  <%= @dealer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @dealer.last_name %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @dealer.company_name %>
</p>

<p>
  <strong>Display name:</strong>
  <%= @dealer.display_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @dealer.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @dealer.phone %>
</p>

<p>
  <strong>Work phone:</strong>
  <%= @dealer.work_phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @dealer.website %>
</p>

<p>
  <strong>Billing address:</strong>
  <%= @dealer.billing_address %>
</p>

<p>
  <strong>Shipping address:</strong>
  <%= @dealer.shipping_address %>
</p>

<%= link_to 'Edit', edit_dealer_path(@dealer) %> |
<%= link_to 'Back', dealers_path %>
