<p id="notice"><%= notice %></p>



<%= link_to 'Edit', edit_dealer_path(@dealer) %> |
<%= link_to 'Back', dealers_path %>







<div class="jumbotron">
  <h1 class="display-4">  <%= @dealer.title %>  <%= @dealer.first_name %>  <%= @dealer.last_name %> </h1>
 </br>
  <p class="lead">   <%= @dealer.company_name %>  | <%= @dealer.email %>  |   <%= @dealer.phone %> |  </p>
  <p class="lead">   <%= @dealer.billing_address %>  | <%= @dealer.email %>  |    <%= @dealer.shipping_address %> |  </p>
  </br></br>
 
  <%= link_to 'Edit', edit_dealer_path(@dealer), class:"btn btn-secondary" %> 
<%= link_to 'Back', dealers_path , class:"btn btn-dark"%>
</div>
